.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.header-hanana {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0!important;
    min-height: auto;
}

.navbar-hanana {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-hanana .navbar-header {
    display: inline-block;
    margin-right: 15px;
}

.navbar-hanana .nav {
    margin: 0;
}

.navbar-hanana .navbar-brand {
    display: inline-block;
    height: auto;
    float: none;
    padding: 20px 15px;
}

.lowercase {
    text-transform: lowercase;
}

.navbar-hanana ul {
    display: inline-block;
}

.navbar-hanana li {
    display: inline-block;
}

.navbar-hanana li a {
    padding: 21px 20px;
}

/* Custom page footer */
.footer {
    margin-top: 30px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

.container-fluid.container-fluid-hanana {
    padding: 0!important;
}

.container-fluid-hanana .sidebar {
    position: relative;
}


#errorMsg {
    padding: 5px 10px;
    margin: 5px 0 15px;
    display: none;
    border-radius: 5px;
}

#errorMsg.has-error {
    display: block;
    background-color: #f2dede;
}
#errorMsg.has-success {
    display: block;
    background-color: #dff0d8;
}
.table .sortable {
    cursor: pointer;
}

a {
    cursor: pointer;
}

nav.sidebar {
    border-top: none;
    border-radius: 0;
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

@media (min-width: 765px) {

    nav.sidebar:hover {
      margin-left: 0px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      margin-bottom: 0px;
      position: absolute;
      z-index:2;
    }

    nav.sidebar li {
      width: 100%;
    }

    .forAnimate{
      opacity: 0;
    }
}

nav.sidebar .forAnimate{
    opacity: 1;
}

nav:hover .forAnimate{
    opacity: 1;
}
.hanana-content {
    margin-top: 20px;
}

#map {
    width: 400px;
    height: 400px;
    margin: 40px auto;
}

.group-description {
    text-align: justify;
}

input.form-inline, select.form-inline {
    display: inline!important;
    width: auto!important;
}
