<div class='container-fluid login-wrapper'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <h3>{{'views.badgeForm.title' | translate}}</h3>
            <div class='form-group {{formClass}} {{nameClass}}'>
                <label for='inputName'>{{'commons.name' | translate}}: </label>
                <input class='form-control' type='text' id='inputName' ng-model='badge.name'/>
            </div>
            <div class='form-group {{formClass}} {{descriptionClass}}'>
                <label for='inputDescr'>{{'commons.description' | translate}}: </label>
                <input class='form-control' type='text' id='inputDescr' ng-model='badge.description'/>
            </div>
            <div class='form-group {{formClass}} {{pointsClass}}'>
                <label for='inputDescr'>{{'commons.points' | translate}}: </label>
                <select class='form-control lowercase' id='inputPoints' ng-model='badge.points'>
                    <option value=1 class="lowercase">1 {{'commons.point' | translate}}</option>
                    <option value=5 class="lowercase">5 {{'commons.points' | translate}}</option>
                    <option value=10 class="lowercase">10 {{'commons.points' | translate}}</option>
                </select>
            </div>
            <div class='form-group {{formClass}} {{triggerClass}}'>
                <label for='inputTrigger'>{{'views.badgeForm.getBadge' | translate}}: </label>
                <select ng-model="badge.trigger" ng-options="trigger.id as trigger.name for trigger in triggers"></select>
            </div>
            <div class='form-group {{formClass}} {{triggerValueClass}}'>
                <label for='inputTriggerValue'>{{'views.badgeForm.amount' | translate}}: </label>
                <input type='number' min=1 value='0' class='form-control' id='inputTriggerValue' ng-model='badge.triggerValue'/>
            </div>
            <div class='form-group {{formClass}} {{imageClass}}'>
                <button
                    ngf-select
                    ng-model="badge.image"
                    name="badgeImage"
                    accept="image/*"
                    ngf-multiple="false"
                    ngf-max-height="1000"
                    ngf-max-size="5MB">
                    {{'commons.selectImage' | translate}}</button>
                <div style= "display: inline-block"> <b>{{'commons.yourImage' | translate}}:</b> <i>{{badge.image.webkitRelativePath || badge.image.name || '-'}}</i> </div>
            </div>
            <div id='errorMsg' class='{{errorClass}}'>{{ errorText }}</div>
            <button class='btn btn-default' type='submit' ng-click='build()'>{{'views.badgeForm.title' | translate}}</button>
        </div>
    </div>
</div>
