<h3 style='text-align:center'>{{'views.complaintList.title' | translate}}</h3>
<br>
<div ng-show="complaint">
    <h4 style='text-align:center'>{{'views.complaintList.denouncedContent' | translate}}</h4>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th width='25%' >type</th>
                <td >{{ complaint.type }}</td>
            </tr>
            <tr ng-repeat="(key, value) in reportedObject">
                <th ng-hide="key === 'image' || key === 'avatar'" width='25%' >{{ key }}</th>
                <td ng-hide="key === 'image' || key === 'avatar'">{{ value }}</td>
            </tr>
            <tr ng-if= "reportedObject.image || reportedObject.avatar">
                <th width='25%' >image </th>
                <td>
                    <img ng-src= "{{ reportedObject.image || reportedObject.avatar }}" width="150">
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4 style='text-align:center'>{{'views.complaintList.userComments' | translate}}</h4>
    <br>
    <table class="table">
        <tbody>
            <tr ng-repeat="report in complaint.reports">
                <th width='25%' > comment </th>
                <td>{{ report.reason }}</td>
            </tr>
        </tbody>
    </table>
    <div id='errorMsg' class='{{errorClass}}'>{{ errorText }}</div>
    <button class="btn btn-default" ng-disabled="page === 0" ng-click="back()" ng-init="count=0">{{'commons.previous' | translate}}</button>
    <button class="btn btn-success" ng-click="discard()" ng-init="count=0">{{'views.complaintList.discard' | translate}}</button>
    <button class="btn btn-danger" ng-click="accept()" ng-init="count=0">{{'views.complaintList.removeContent' | translate}}</button>
    <button class="btn btn-default" ng-disabled="page >= total-1" ng-click="next()" ng-init="count=0">{{'commons.next' | translate}}</button>
</div>
<h4 ng-hide="complaint" style='text-align:center'>{{'views.complaintList.happy' | translate}}</h4>
