<div class='container-fluid login-wrapper'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <h3>{{'views.createUserPremium.title' | translate}}</h3>
            <form>
                <div class='form-group {{formClass}}'>
                    <label for='inputName'>{{'commons.name' | translate}}: </label>
                    <input class='form-control' type='text' id='inputName' ng-model='name' required name='name' />
                </div>
                <div class='form-group {{formClass}}'>
                    <label for='inputEmail'>{{'commons.email' | translate}}: </label>
                    <input class='form-control' type='email' id='inputEmail' ng-model='email' required name='email' />
                </div>
                <div id='errorMsg' class='{{formClass}}'>{{ errorText }}</div>
                <button class='btn btn-default' type='submit' ng-click='createUser()'>{{'views.createUserPremium.createUser' | translate}}</button>
            </form>
        </div>
    </div>
</div>
