<div class='container-fluid login-wrapper'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <h3>{{'views.notifications.title' | translate}}</h3>
            <form>
                <div class='form-group {{formClass}}'>
                    <label for='inputName'>{{'commons.title' | translate}}: </label>
                    <input class='form-control' type='text' id='inputName' ng-model='title' required name='title' />
                </div>
                <div class='form-group {{formClass}}'>
                    <label for='inputEmail'>{{'commons.description' | translate}}: </label>
                    <input class='form-control' type='text' id='inputEmail' ng-model='description' required name='description' />
                </div>
                <div id='errorMsg' class='{{formClass}}'>{{ errorText }}</div>
                <button class='btn btn-default' type='submit' ng-click='createNotification()'>{{'views.notifications.send' | translate}}</button>
            </form>
        </div>
    </div>
</div>
