<h3 style='text-align:center'>{{'views.premiumList.title' | translate}}</h3>
<table class='table table-stripped table-hover'>
    <thead>
    <tr>
        <th class='sortable' width='15%' ng-click='sortBy("creationDate")'>
            {{'commons.creationDate' | translate}}
            <i ng-show='sortAttribute==="creationDate" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="creationDate" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </td>
        <th class='sortable' width='20%' ng-click='sortBy("name")'>
            {{'commons.name' | translate}}
            <i ng-show='sortAttribute==="name" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="name" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th class='sortable' width='35%' ng-click='sortBy("email")'>
            {{'commons.email' | translate}}
            <i ng-show='sortAttribute==="email" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="email" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th width='30%'>
            {{'commons.actions' | translate}}
        </th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat='(k,user) in users | orderBy:sortAttribute:sortReverse'>
        <td>
            {{ user.creationDate }}
        </td>
        <td>
            {{ user.name }}
        </td>
        <td>
            {{ user.email }}
        </td>
        <td>
            <button class='btn btn-default' ng-hide='user.deleting' ng-click='editUser(user._id)'>{{'commons.edit' | translate}}</button>
            <span ng-show='user.deleting' class='ensure-delete'>{{'commons.confirmation' | translate}}
               <button class='btn btn-primary' ng-click='deleteUserDeny(user)'>{{'commons.no' | translate}}</button>
               <button class='btn btn-danger' ng-click='deleteUserConfirm(user._id)'>{{'commons.yes' | translate}}</button>
           </span>
           <button class='btn btn-danger' ng-hide='user.deleting' ng-click='deleteUser(user)'>{{'commons.deactivate' | translate}}</button>
        </td>
    </tr>
</tbody>
