<div class='container-fluid edit-wrapper'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <h3>{{'views.premiumEdit.title' | translate}}</h3>
            <form>
                <div class='form-group {{formClass}}'>
                    <label for='inputEmail'>{{'commons.name' | translate}}: </label>
                    <input class='form-control' type='email' id='inputEmail' ng-model='user.email' />
                </div>
                <div class='form-group {{formClass}}'>
                    <label for='inputPass'>{{'commons.password' | translate}}: </label>
                    <div class='reset-pass'><a ng-click='resetPass()'>{{'views.premiumEdit.resetPassword' | translate}}</a></div>
                </div>

                <div id='errorMsg' class='{{formClass}}'>{{ errorText }}</div>
                <button class='btn btn-default' type='submit' ng-click='save()'>{{'commons.save' | translate}}</button>
            </form>
        </div>
    </div>
</div>
