<h3 style='text-align:center'>{{'views.badgeList.title' | translate}}</h3>
<table class='table table-stripped table-hover'>
    <thead>
    <tr>
        <th class='sortable' width='15%' ng-click='sortBy("creationDate")'>
            {{'commons.creationDate' | translate}}
            <i ng-show='sortAttribute==="creationDate" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="creationDate" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </td>
        <th class='sortable' width='15%' ng-click='sortBy("name")'>
            {{'commons.name' | translate}}
            <i ng-show='sortAttribute==="name" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="name" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th width='20%'>
            {{'commons.image' | translate}}
        </th>
        <th width='10%' class='sortable' ng-click='sortBy("points")'>
            {{'commons.points' | translate}}
            <i ng-show='sortAttribute==="points" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="points" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th width='20%' class='sortable' ng-click='sortBy("triggerStr")'>
            {{'commons.trigger' | translate}}
            <i ng-show='sortAttribute==="triggerStr" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="triggerStr" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th width='20%'>
            {{'commons.actions' | translate}}
        </th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat='(k,badge) in badges | orderBy:sortAttribute:sortReverse'>
        <td>
            {{ badge.creationDate }}
        </td>
        <td>
            {{ badge.name }}
        </td>
        <td>
            <img ng-src= "{{ badge.image }}" width="150">
        </td>
        <td>
            {{ badge.points }}
        </td>
        <td>
            {{ badge.triggerStr }}
        </td>
        <td>
            <i>{{'views.badgeList.contact' | translate}}.</i>
        </td>
    </tr>
</tbody>
