
<div class='container-fluid login-wrapper'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <h3>{{'views.createGroup.title' | translate}}</h3>
            <form>
                <div class='form-group {{formClass}}'>
                    <label for='inputName'>{{'commons.name' | translate}}: </label>
                    <input class='form-control' type='text' id='inputName' ng-model='name' required name='name' />
                </div>
                <div class='form-group {{formClass}}'>
                    <label for='inputDescription'>{{'commons.description' | translate}}: </label>
                    <textarea class='form-control' rows="10" id='inputDescription' ng-model='description' required name='description' style="resize: none;"/>
                </div>
                <div>
                    <button
                        ngf-select
                        ng-model="file"
                        name="groupImage"
                        accept="image/*"
                        ngf-multiple="false"
                        ngf-max-height="1000"
                        ngf-max-size="5MB">
                        {{'commons.selectImage' | translate}}</button>
                <div style= "display: inline-block"> <b>Tu foto:</b> <i>{{file.webkitRelativePath || file.name || '-' }}</i> </div>
                </div>
                <div id='errorMsg' class='{{formClass}}'>{{ errorText }}</div>
                <button class='btn btn-default' type='submit' ng-click='submit()'>{{'views.createGroup.title' | translate}}</button>
            </form>
        </div>
    </div>
</div>
