<div class='container-fluid edit-wrapper'>
    <div class='row'>
        <div class='col-md-12'>
            <h3>{{'views.groupEdit.title' | translate}}</h3>
            <form>
                <div class='col-md-8'>
                    <div class='form-group {{formClass}}'>
                        <label for='inputName'>{{'commons.name' | translate}}: </label>
                        <input class='form-control' type='text' id='inputName' ng-model='group.name' />
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='form-group {{formClass}}'>
                        <label for='inputDescription'>{{'commons.description' | translate}}: </label>
                        <textarea class='form-control' rows="10" wrap='hard' id='inputDescription' ng-model='group.description' style="resize: none;"/>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div>
                        <label for='inputImage'>{{'commons.image' | translate}}: </label>
                    </div>
                    <img  ng-src= "{{ image }}" width="250" id='inputImage'>
                </div>
                <div class='col-md-12'>
                    <div>
                        <button
                            ngf-select
                            ng-model="file"
                            name="groupImage"
                            accept="image/*"
                            ngf-multiple="false"
                            ngf-max-height="1000"
                            ngf-max-size="5MB">
                            {{'commons.selectImage' | translate}}</button>
                    <div style= "display: inline-block"> <b>{{'commons.yourImage' | translate}}:</b> <i>{{file.webkitRelativePath || file.name || '-'}}</i> </div>
                    </div>
                    <div id='errorMsg' class='{{formClass}}'>{{ errorText }}</div>
                    <button class='btn btn-default' type='submit' ng-click='save()'>{{'commons.save' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
