<h3 style='text-align:center'>{{'views.groupPremiumList.title' | translate}}</h3>
<table class='table table-stripped table-hover'>
    <thead>
    <tr>
        <th class='sortable' width='15%' ng-click='sortBy("creationDate")'>
            {{'commons.creationDate' | translate}}
            <i ng-show='sortAttribute==="creationDate" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="creationDate" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </td>
        <th class='sortable' width='15%' ng-click='sortBy("name")'>
            {{'commons.name' | translate}}
            <i ng-show='sortAttribute==="name" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="name" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th width='30%'>
            {{'commons.description' | translate}}
        </th>
        <th width='15%'>
            {{'commons.image' | translate}}
        </th>
        <th width='25%'>
            {{'commons.actions' | translate}}
        </th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat='(k,group) in groups | orderBy:sortAttribute:sortReverse'>
        <td>
            {{ group.creationDate }}
        </td>
        <td>
            {{ group.name }}
        </td>
        <td>
            <div class='group-description'> {{ group.description }} </div>
        </td>
        <td>
            <img ng-src= "{{ group.image }}" width="150">
        </td>
        <td>
            <button class='btn btn-default' ng-hide='group.deleting' ng-click='editGroup(group._id)'>{{'commons.edit' | translate}}</button>
            <span ng-show='group.deleting' class='ensure-delete'>{{'commons.confirmation' | translate}}
                <button class='btn btn-primary' ng-click='deleteGroupDeny(group)'>{{'commons.no' | translate}}</button>
                <button class='btn btn-danger' ng-click='deleteGroupConfirm(group._id)'>{{'commons.yes' | translate}}</button>
            </span>
            <button class='btn btn-danger' ng-hide='group.deleting' ng-click='deleteGroup(group)'>{{'commons.deactivate' | translate}}</button>
        </td>
    </tr>
</tbody>
