<!doctype html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
  </head>
  <body ng-app="hananaWebApp">
	<!--[if lte IE 8]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	<div class="header header-hanana">
	  	<div class="navbar navbar-default navbar-hanana" role="navigation">
		<div class='container'>
		  	<div class="navbar-header">
				<a class="navbar-brand" href="#/">Hanana</a>
		  	</div>
			<ul class="nav navbar-nav">
			  	<li class="active"><a href="#/">Index</a></li>
			  	<li><a ng-href="#/about">{{'views.index.about' | translate}}</a></li>
			  	<li><a ng-href="#/contact">{{'views.index.contact' | translate}}</a></li>
			</ul>
			<ul class="nav navbar-right">
				<div ng-translate-language-select></div>
			</ul>
	  	</div>
		</div>
	</div>


	<nav ng-controller='MainCtrl' class="navbar navbar-default sidebar" role="navigation" ng-show="logged">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-show="admin" class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.moderateUsers' | translate}}<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#/admin/createUserPremium">{{'views.index.createPremium' | translate}}</a></li>
							<li><a href="#/admin/premium">{{'views.index.listPremiums' | translate}}</a></li>
						</ul>
					</li>
					<li ng-show="admin" class="dropdown">
						<a href="#/admin/complaints" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.moderateContent' | translate}} </span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-hdd"></span></a>
					</li>
					<li ng-show="admin" class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.moderateBadges' | translate}} <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-certificate"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#/admin/badges/create">{{'views.index.createBadges' | translate}}</a></li>
							<li><a href="#/admin/badges">{{'views.index.listBadges' | translate}}</a></li>
						</ul>
					</li>
                    <li ng-show="admin" class="dropdown">
                        <a href="#/admin/notifications" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.notifications' | translate}} <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-exclamation-sign"></span></a>
                    </li>
					<li ng-show="premium" class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.manageGroups' | translate}} <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#/premium/createGroup">{{'views.index.createGroup' | translate}}</a></li>
							<li><a href="#/premium/groups">{{'views.index.listGroups' | translate}}</a></li>
						</ul>
					</li>
					<li ng-show="premium" class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.manageEvents' | translate}} <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-map-marker"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#/premium/events/create">{{'views.index.createEvent' | translate}}</a></li>
							<li><a href="#/premium/events">{{'views.index.listEvents' | translate}}</a></li>
						</ul>
					</li>
					<li ng-show="premium" class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.manageBadges' | translate}} <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-certificate"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#/premium/badges/create">{{'views.index.createBadge' | translate}}</a></li>
							<li><a href="#/premium/badges/">{{'views.index.listBadges' | translate}}</a></li>
						</ul>
					</li>
                    <li ng-show="premium" class="dropdown">
                        <a href="#/premium/notifications" class="dropdown-toggle" data-toggle="dropdown">{{'views.index.notifications' | translate}} <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-exclamation-sign"></span></a>
                    </li>
					<li><a href="#/logout"><span class="glyphicon glyphicon-cog"></span> {{'views.index.disconnect' | translate}}</a></li>
				</ul>
			</div>
		</div>
	</nav>

  	<div class='container hanana-content'>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div ng-view=""></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="footer">
					<span class="glyphicon glyphicon-heart"></span> {{'views.index.from' | translate}}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	 <script>
	   !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
	   (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
	   r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
	   }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	   ga('create', 'UA-XXXXX-X');
	   ga('send', 'pageview');
	</script>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
  	<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="bower_components/angular-translate/angular-translate.min.js"></script>
	<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/services/AuthService.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/contact.js"></script>
		<script src="scripts/controllers/statusController.js"></script>
		<script src="scripts/controllers/loginController.js"></script>
		<script src="scripts/controllers/logoutController.js"></script>
		<script src="scripts/controllers/admin/premiumListController.js"></script>
		<script src="scripts/controllers/admin/premiumEditController.js"></script>
		<script src="scripts/services/UserFactory.js"></script>
        <script src="scripts/services/GroupFactory.js"></script>
        <script src="scripts/services/NotificationFactory.js"></script>
		<script src="scripts/controllers/admin/createUserPremium.js"></script>
        <script src="scripts/controllers/admin/adminNotificationsCtrl.js"></script>
        <script src="scripts/controllers/premium/premiumNotificationsCtrl.js"></script>
        <script src="scripts/controllers/premium/createGroupController.js"></script>
        <script src="scripts/controllers/premium/groupPremiumListController.js"></script>
		<script src="scripts/services/EventFactory.js"></script>
		<script src="scripts/controllers/events/createEventController.js"></script>
		<script src="scripts/mapController.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWAGvTE72Ld_CtbyfhALkxp0Sh0AC9EIg&signed_in=true&libraries=places&callback=initMap" async defer></script>
        <script src="scripts/controllers/premium/groupEditController.js"></script>
        <script src="scripts/controllers/events/editEventController.js"></script>
		<script src="scripts/httpInterceptor.js"></script>
        <script src="scripts/services/EventFactory.js"></script>
		<script src="scripts/controllers/events/eventListController.js"></script>
		<script src="scripts/controllers/admin/createBadgeCtrl.js"></script>
        <script src="scripts/controllers/premium/createBadgeCtrl.js"></script>
		<script src="scripts/controllers/admin/editBadgeCtrl.js"></script>
		<script src="scripts/controllers/admin/listBadgesCtrl.js"></script>
        <script src="scripts/controllers/premium/listBadgesCtrl.js"></script>
		<script src="scripts/services/BadgeFactory.js"></script>
        <script src="scripts/services/ComplaintFactory.js"></script>
        <script src="scripts/controllers/admin/listComplaintsCtrl.js"></script>
		<script src="scripts/services/LocaleService.js"></script>
		<script src="scripts/directives/LanguageSelectDirective.js"></script>
		<script src="scripts/services/InterestFactory.js"></script>

	<!-- endbuild -->
</body>
</html>
