<div class='container-fluid login-wrapper'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <h3>{{'views.createEvent.title' | translate}}</h3>
            <div class='form-group {{formClass}} {{titleClass}}'>
                <label for='inputName'>{{'commons.name' | translate}}: </label>
                <input class='form-control' type='text' id='inputName' ng-model='event.title' required name='eventTitle' />
            </div>
            <div class='form-group {{formClass}} {{descriptionClass}}'>
                <label for='inputDescr'>{{'commons.description' | translate}}: </label>
                <input class='form-control' type='text' id='inputDescr' ng-model='event.description' required name='description' />
            </div>
            <div class='form-group {{formClass}} {{latClass}} {{lonClass}}'>
                <label for='inputAddress'>{{'views.createEvent.address' | translate}}: </label>
                <input type='text', placeholder="{{'views.createEvent.addressInfo' | translate}}" id='mapCity' class='form-control' ng-model='event.address' />
                <hanana-map input-id='mapCity'></hanana-map>
            </div>
            <div class='form-group {{formClass}} {{dateError}} {{dateClass}}'>
                <label for='inputDate'>{{'views.createEvent.time' | translate}}: </label>
                <input class='form-inline form-control' type='date' id='inputDate' ng-model='event.date' required name='date' placeholder='DD/MM/AAAA' />
                <input class='form-inline form-control' type='time' id='inputTime' ng-model='event.date' required name='time' placeholder='HH:MM' />
            </div>
            <div class='form-group {{formClass}} {{priceClass}}'>
                <label for='inputPrice'>{{'views.createEvent.price' | translate}}: </label>
                <input class='form-control' type='number' id='inputPrice' ng-model='event.price' required name='price' />
            </div>
            <div class='form-group {{formClass}} {{ageClass}}'>
                <label for='inputAge'>{{'views.createEvent.age' | translate}}: </label>
                <input class='form-control' type='number' id='inputAge' ng-model='event.age' required name='age' />
            </div>
            <div class='form-group {{formClass}} {{urlClass}}'>
                <label for='inputInfo'>{{'views.createEvent.link' | translate}}: </label>
                <input class='form-control' type='text' id='inputInfo' ng-model='event.url' required name='date' />
            </div>
            <div class='form-group {{formClass}} {{tagsClass}}'>
                <label for='inputTags'>{{'views.createEvent.labels' | translate}}: </label>
                <input class='form-control' type='text' id='inputTags' ng-model='event.tags' required name='tags' placeholder='tag1,tag2,tag3,...' />
            </div>
            <div class='form-group {{formClass}} {{groupClass}}'>
                <select class='form-control' ng-model='event.group' required name='group'>
                    <option value=''>{{'commons.group' | translate}}</option>
                    <option ng-repeat='(k,group) in groups | orderBy:name' value='{{group._id}}'>{{group.name}}</option>
                </select>
            </div>

            <div class='form-group'>
                <span ng-repeat="interest in interests track by interest._id" style="display: inline-block;margin: 2px">
                        <input type="checkbox" ng-model="interest.isSelected">
                        {{interest.name}}
                </span>
            </div>

            <div ng-show=create class='form-group {{formClass}} {{groupClass}}' >
                <div class='form-group {{formClass}}'>
                    <label>{{'views.createEvent.genQR' | translate}}:
                        <input type="checkbox" ng-model="event.qr" ng-true-value="1">
                    </label>
               </div>
            </div>


            <div class='form-group {{formClass}} {{imageClass}}'>
                <button
                    ngf-select
                    ng-model="event.image"
                    name="eventImage"
                    accept="image/*"
                    ngf-multiple="false"
                    ngf-max-height="1000"
                    ngf-max-size="5MB">
                    {{'commons.selectImage' | translate}}</button>
                <div style= "display: inline-block"> <b>{{'commons.yourImage' | translate}}:</b> <i>{{event.image.webkitRelativePath || event.image.name || '-'}}</i> </div>
            </div>
            <div id='errorMsg' class='{{errorClass}}'>{{ errorText }}</div>
            <button class='btn btn-default' type='submit' ng-click='build()'>{{'views.createEvent.title' | translate}}</button>
        </div>
    </div>
</div>
