<h3 style='text-align:center'>{{'views.listEvents.title' | translate}}</h3>
<div id='errorMsg' class='{{formClass}}'>{{ errorText }}</div>
<table class='table table-stripped table-hover'>
    <thead>
    <tr>
        <th class='sortable' width='15%' ng-click='sortBy("creationDate")'>
            {{'commons.creationDate' | translate}}
            <i ng-show='sortAttribute==="creationDate" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="creationDate" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </td>
        <th class='sortable' width='15%' ng-click='sortBy("name")'>
            {{'commons.title' | translate}}
            <i ng-show='sortAttribute==="name" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="name" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th class='sortable' width='15%' ng-click='sortBy("group")'>
            {{'commons.group' | translate}}
            <i ng-show='sortAttribute==="group" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="group" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th class='sortable' width='15%' ng-click='sortBy("date")'>
            {{'views.listEvents.eventDate' | translate}}
            <i ng-show='sortAttribute==="date" && sortReverse===true' class='glyphicon glyphicon-chevron-down'></i>
            <i ng-show='sortAttribute==="date" && sortReverse===false' class='glyphicon glyphicon-chevron-up'></i>
        </th>
        <th width='15%'>
            {{'commons.image' | translate}}
        </th>
        <th width='25%'>
            {{'commons.actions' | translate}}
        </th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat='(k,event) in events | orderBy:sortAttribute:sortReverse'>
        <td>
            {{ event.creationDate }}
        </td>
        <td>
            {{ event.title }}
        </td>
        <td>
            <div class='event-description'> {{ event.group.name }} </div>
        </td>
        <td>
            {{ event.date }}
        </td>
        <td>
            <img ng-src= "{{ event.image }}" width="150">
        </td>
        <td>
            <button class='btn btn-default' ng-hide='event.deleting' ng-click='editEvent(event._id)'>{{'commons.edit' | translate}}</button>
            <span ng-show='event.deleting' class='ensure-delete'>{{'commons.confirmation' | translate}}
                <button class='btn btn-primary' ng-click='deleteEventDeny(event)'>{{'commons.no' | translate}}</button>
                <button class='btn btn-danger' ng-click='deleteEventConfirm(event._id)'>{{'commons.yes' | translate}}</button>
            </span>
            <button class='btn btn-danger' ng-hide='event.deleting' ng-click='deleteEvent(event)'>{{'commons.deactivate' | translate}}</button>
            <button class='btn btn-default' ng-show='event.qrCode' ng-click='downloadQR(event._id)'>{{'commons.download' | translate}}</button>
            <a id='qr' ng-href='{{ url }}' ng-show = "false" download> Click for download </a>
        </td>
    </tr>
</tbody>
