<div class='container-fluid login-wrapper'>
    <div class='col-md-6 col-md-offset-3'>
        <form>
            <div class='form-group {{formClass}}'>
                <label for='inputEmail'>{{'commons.email' | translate}}: </label>
                <input class='form-control' type='email' id='inputEmail' ng-model='email' required name='email' />
            </div>
            <div class='form-group {{formClass}}'>
                <label for='inputPass'>{{'commons.password' | translate}}: </label>
                <input class='form-control' type='password' id='inputPass' ng-model='password' required name='password' />
            </div>
            <div id='errorMsg' class='{{formClass}}'>{{ errorText }}</div>
            <button class='btn btn-primary' type='submit' ng-click='logUser()'>{{'commons.login' | translate}}</button>
        </form>
    </div>
</div>
