<div class='container-fluid login-wrapper'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <form>
                <p>{{'commons.confirmation' | translate}}</p>
                <button class='btn btn-danger' type='submit' ng-click="logoutUser()">{{'commons.yes' | translate}}</button>
                <button class='btn btn-success' type='submit' ng-click="redirect()">{{'commons.no' | translate}}</button>
            </form>
        </div>
    </div>
</div>
