
<div class='container-fluid home_page'>
    <div class='row'>
    <div class='col-md-9 col-md-offset-3'>
      <h1>{{'views.main.GREETING' | translate}}</h1>
    </div>
    <div class='col-md-9 col-md-offset-3'>
      <img src="http://i.imgur.com/G2U72IY.png"><br>
    </div>
</div>
</div>
